<!-- Simple Statistics with Action Grid -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 lg:gap-8">
    <app-sales></app-sales>
    <app-earnings></app-earnings>
    <app-wallet></app-wallet>
</div>
<!-- END Simple Statistics with Action Grid -->


<!-- Page Heading with Icon -->
<h2 class="mt-4 text-2xl font-bold py-2 border-b-2 border-gray-200 mb-4 lg:mb-8">
    <svg class="hi-outline hi-presentation-chart-line inline-block w-6 h-6 opacity-50 mr-2" stroke="currentColor"
        fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
    </svg>
    <span>Open invoices</span>
    <!-- <span class="block sm:inline-block text-xl text-gray-600 font-normal ml-2">Welcome back!</span> -->
</h2>
<!-- END Page Heading with Icon -->

<!-- Placeholder -->
<!-- Responsive Table Container -->
<app-open-invoices></app-open-invoices>
<!-- END Responsive Table Container -->